<div class="flexbox margin">
  <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter degree</mat-label>
      <input matInput type="number" placeholder="2" [(ngModel)]="degree" />
    </mat-form-field>
    <div class="break"></div>
    <div class="flexbox">
      <button
        mat-raised-button
        color="accent"
        (click)="changeDegree(degree)"
        [disabled]="!degree"
      >
        CHANGE DEGREE
      </button>
    </div>

    <div class="break"></div>

    <mat-form-field class="example-full-width margin-top" appearance="fill">
      <mat-label>Insert</mat-label>
      <input matInput type="number" placeholder="5" [(ngModel)]="key" />
    </mat-form-field>
    <div class="break"></div>
    <div class="flexbox">
      <button
        mat-raised-button
        color="accent"
        (click)="insert(key)"
        [disabled]="!key || !degreeSet"
      >
        INSERT
      </button>
    </div>
    <div class="break"></div>
    <input type="file" class="margin-top" (change)="openFile($event.target)" [disabled]="!degreeSet"/>
  </div>
  <div class="break"></div>
  <div id="graph"></div>
</div>
