/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.break {
  height: 0;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.margin {
  margin: 1rem;
}
